@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css or App.css */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  font-family: "Onest", sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(239, 171, 36);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 154, 71);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(1, 121, 57);
}



/* Add any other custom styles that Tailwind doesn't cover */